# Binaries
ratelimiter/ratelimiter
parser/parser
querier/querier
webui/webui
snapshotdb/snapshotdb
windowui/windowui
windowviewer/windowviewer

# Database files
*.db

# OS
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo

# Test
*.test
coverage.out
